.container {  
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    margin: 1rem;
    height: 25rem;
    width: 15rem;
}

.image-container {
    height: 3rem;
    margin: 1.5rem;
}

.info-container {
    padding-top: 3.5rem;

}

img {
    max-width: 100%;
    padding: 1.2rem;
}

.pokemon-stats {
    padding: .5rem;
}

.stat-bar-container {
    border-radius: .5rem;
    width: 100%;

}

.stat-bar-level {


}

.hp {

}
.stat-label {
    margin-top: .5rem;
    margin-bottom: .5rem;
}