.container {
    display: inline-block;
    width: 12rem;   
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    margin: 1rem;   
    height: 15rem;
}

.image-container {
    height: 3rem;
    margin: 1.5rem;
}

.info-container {
    padding-top: 3.5rem;

}

img {
    max-width: 100%;
    padding: 1.2rem;
}